@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edf2f4;
  --interior: #fbfbfb;
  --foreground: #333;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
}

@layer components {
}
